<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.github.rosjava.android_remocons.rocon_remocon"
      xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/rocon_icon"
                 tools:replace="icon, label">
        <provider
            android:name=".Database"
            android:authorities="com.github.rosjava.android_remocons.rocon_remocon"
        />
        <activity android:name="com.github.rosjava.android_remocons.rocon_remocon.Remocon"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="com.github.rosjava.android_remocons.rocon_remocon.Remocon" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MasterChooser" />
        <activity android:name="com.github.rosjava.android_remocons.rocon_remocon.NfcLauncherActivity"
                  android:label="NFC tag launcher">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="com.github.rosjava.android_remocons.common_tools.nfc.NfcReaderActivity" />

        <service android:name="org.ros.android.NodeMainExecutorService" >
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService" />
            </intent-filter>
        </service>
    </application>
</manifest>
